<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="#"><i class="fa  fa-home"></i> Trang chủ</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-archive"></i> Hàng tồn kho</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> Lập hóa đơn</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-qrcode"></i> Danh sách hóa đơn</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bullhorn"></i> Thông báo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Kiểm kê</a>
                    </li>
                    <li>
                        <a href="#">Cho quản lý bán hàng</a>
                    </li>

                </ul>
            </li>
        </ul>

    </div>

</nav>
