<h2>Error</h2>
<div class="box">
    <div class="icon"></div>
    <span class="title">Đây là trang lỗi</span>
</div>


<style>
    .test {
        color: blue;
    }

    .abd {
        color: red;
    }

    .box {
        background: blue;
        height: 50px;
        position: relative;
        width: 300px;
    }

        .box .icon {
            width: 76px;
            height: 20px;
            background: red;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -10px;
        }

        .box .title {
            color: white;
        }

        .box.title {
            color: green;
        }
</style>
